<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Ascend.Database" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=Ascend;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
  </connectionStrings>
</configuration>